body {
  margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #333(255, 0, 0)(138, 117, 117);
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

#top {
  height: 92vh;
  background-color: black;
}
#toppic {
  top: 60px;
  height: 15%;
  left: 2%;
  position: absolute;
}

#mid {
  height: 100vh;
  background-color: white;
}

#bot {
  height: 100vh;
  background-color: rgb(223, 215, 215);
}

#top>a {
  position: absolute;
  width: 100%;
  top: 355px;
  right: 0px;
}

body {
  font-family: sans-serif;
}

#tittel2 {
  color: white;
  width: 100%;
  top: 28%;
  position: absolute;
  left: 300px;
  font-size: 35px;
  overflow: hidden;
}

#tittel1 {
  color: white;
  width: 100%;
  top: 12%;
  position: absolute;
  left: 480px;
  font-size: 60px;
  overflow: hidden;
}

#tittel1, #tittel2 {
  display: block;
}

@media (max-width: 600px) {
  #tittel1, #tittel2 {
    display: none;
  }
}

#watch {
  height: 80vh;
  background-color: aliceblue;
}

#omapple {
  height: 80vh;
}

#kontaktoss {
  height: 40vh;
  background-color: black;
}

#mac {
  position: absolute;
  width: 80%;
  top: 105%;
}

#ipadp {
  position: absolute;
  top: 173%;
  right: 20%;
}


#watchbilde {
  position: absolute;
  top: 303%;
  right: 35%;
}


#bottomt {
  color: white;
  font-size: 50px;
  right: 40%;
  position: absolute;
}


#bottompic {
  position: absolute;
  right: 45%;
  top: 393vh;
  width: 150px;
}