body {
  font-family: sans-serif;
}

#top {
height: 100vh;
position: absolute;
background-color: white;
}

#ipad{
width: 90vh;
top: 80px;
position: absolute;
animation: slide 1s 1 alternate;
animation-fill-mode: forwards;
}

@keyframes slide {
0% { left:-1000px; top: 80px;}
100% {left: 20px; top: 80px;}
}

h1 {
right: -330px;
position: relative;
top: 30px;
}

#knapp {
position: relative;
right: -650px; 
width: 740px;
top: 150px;
}

#admin {
  position: absolute;
  top: 1000px;
}

#overskrift {
  color: black;
}

#bildekort1 {
  top: 400px;
  position: relative;
  right: 1050px;
}

