
body {
    font-family: sans-serif;
}

#macbook2 {
  position: absolute;
  left: 60px;
  top: 100px;
  animation: slide 1s linear;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% { left:-1000px; top: 100px;}
  100% {left: 60px; top: 100px;}
}

#hoved {
  right: 14%;
  position: absolute;
  top: 15%;
  font-size: 45px;

}

#top {
  background-color: white;
  height: 110vh;
}

#mid {
  height: 80vh;
  background-color: black;
}

#tekst {
  right: 5%;
  position: absolute;
  top: 35%;
  color: black;
  text-align: left;
}

#skjerm {
  right: 35%;
  top: 28%;
  position: absolute;
}

#prosessor {
  right: 32%;
  top: 48%;
  position: absolute;
}

#tekst2 {
  right: 2%;
  position: absolute;
  top: 55%;
  color: black;
  text-align: left;
}

#batteri {
  right: 27%;
  position: absolute;
  top: 73%;
}

#liste {
  right: 14%;
  position: absolute;
  top: 80%;
  color: black;
  text-align: left;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

#admin {
  position: absolute;
  top: 130%;
}

#bildekort1 {
  top: 400px;
  position: absolute;
}

.centered {
  right: 100px;
}

#admin {
  height: 1000px;
}