body {
    font-family: sans-serif;
     margin: 0;
}

h1 {
  position: absolute;
  left: 41%;
}

#series {
  position: absolute;
  left: 44%;
  top: 15%;
  color: red;
}


#Alle {
  position: absolute;
  width: 60%;
  top: 22%;
  left: 18%;
}

#Sort {
  position: absolute;
  width: 20%;
  right: 5%;
  top: 105%;
}

#større {
  font-size: 50px;
  position: absolute;
  left: 5%;
  top: 100%;
}

#mindre {
  font-size: 30px;
  position: absolute;
  top: 120%;
  left: 7%;
}


#colors {
  position: absolute;
  top: 150%;
  width: 80%;
  left: 8%;
}

#admin {
  position: absolute;
  top: 250%;
}

#ned {
  position: absolute;
  top: 230%;
}

#bildekort1 {
  position: absolute;
  margin-top: 400px;
}